.UpgradeChoiceH1{font-size: 25px;
    margin: auto;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(209, 116, 40);
    width: 100%;
}
.UpgradeChoiceDiv{
    background-color: rgb(236, 236, 236);
    border: 2px solid #d8d8d8;}

.UpgradeChoiceH2{font-size: 23px;
        margin: auto;
        text-align: center;
        color: rgb(209, 116, 40);
        font-family: 'Open Sans Condensed', sans-serif;
        background-color: white;
        width: 100%;
    }

.UpgradeChoiceH3{
    font-size: 20px;
    padding: 5px;
        margin: auto;
        text-align: left;
        color: rgb(142, 77, 24);
        font-family: 'Open Sans Condensed', sans-serif;
        width: 100%;
      border-bottom: 1px solid white;
    }

.UpgradeChoiceButton{
    cursor: pointer;
    border: 2px solid rgb(209, 209, 209);
    padding: 4px 8px;
    color: rgb(216, 166, 29);
    font-weight: bold;
    margin: 1px;



}
.UpgradeChoiceButton:hover{
    
    padding: 4px 10px;
    color: rgb(240, 191, 56);
    margin-left:3px ;
    font-weight: bold;
    

}
.flexContainer{
    display: flex ;
    
    margin:left;
  
  }